<header id="home">
  <nav>
    <div class="p-2 bg-primary small">
      A Product by UNMUDL TECHNOLOGIES LLP
    </div>
  </nav>
  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <h3>
        Posify
      </h3>
      <span class="example-spacer"></span>
      <ul class="navbar-nav nav-link text-sm-left ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        <li class="nav-item text-center">
          <button mat-stroked-button class="btn align-middle btn-outline-primary my-2 my-lg-0" href="#">Login</button>
        </li>
        <li class="nav-item text-center">
          <button mat-button class="btn align-middle btn-primary my-2 my-lg-0" target="_blank"
            href="#">Register</button>
        </li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>
  <section class="page main-container text-center">
    <div class="container">
      <p class="title" style="padding: 10x;">Cloud Kitchens | Multi-Brand Outlets | Restaurants | Franchise</p>
      <h1 class="main-heading">Still using Point-of-Sale only for Billing?</h1>
      <p class="sub-heading">Posify help hundreds of food business to run their business: from secure online payments to
        point-of-sale solutions.<br><br>Get started with Posify Today!
      </p>
      <p class="main-action">
        <span>NO CREDIT CARD REQUIRED | SETUP IN LESS THAN 5 MINUTES</span>
      </p>
      <div>
        <button mat-button href="#" class="btn btn-lg btn-primary">Get started</button>
        <button mat-stroked-button href="#" class="btn btn-lg btn-outline-primary">See Features</button>
      </div>
    </div>
  </section>
  <div class="split-bg">
    <div class="main-image">
      <img src="https://posify.in/images/main-img.webp" name="restaurant pos software" alt="free pos software"
        class="img-fluid" />
    </div>
  </div>
</header>
<div class="client-logos text-center">
  <p class="heading-grey">TRUSTED BY MORE THAN 1500 OUTLETS</p>
  <div class="image">
    <img class="img client-img" [src]="img" *ngFor="let img of client" />
  </div>
</div>
<div class="row-card">
  <div class="row">
    <mat-card class="example-card" *ngFor="let feature of features">
      <mat-card-header>
        <div class="media-icon d-flex mr-3">
          <img class="example-header-image" [src]="feature.icon">
        </div>
        <mat-card-title class="title">{{feature.title}}</mat-card-title>
        <mat-card-subtitle>{{feature.desc}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<div class="section" id="features">
  <div class="ads-container">
    <div class="row-container">
      <div class="col-sm-4">
        <div class="featured-section pb-3 d-flex">
          <span class="ml-0 list-text">{{billing.title}}</span>
        </div>
        <p> {{billing.descrption}}</p>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let item of billing.list">{{item}}<mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="card-div">
        <mat-card class="example-card">
          <img mat-card-image [src]="billing.imgLink">
        </mat-card>
      </div>
    </div>
    <div class="row-container">
      <div class="card-div">
        <mat-card class="example-card">
          <img mat-card-image [src]="ordering.imgLink">
        </mat-card>
      </div>
      <div class="col-sm-4">
        <div class="featured-section pb-3 d-flex">
          <span class="ml-0 list-text">{{ordering.title}}</span>
        </div>
        <p> {{ordering.descrption}}</p>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let item of ordering.list">{{item}}<mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="row-container">
      <div class="col-sm-4">
        <div class="featured-section pb-3 d-flex">
          <span class="ml-0 list-text">{{link.title}}</span>
        </div>
        <p> {{link.descrption}}</p>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let item of link.list">{{item}}<mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="card-div">
        <mat-card class="example-card">
          <img mat-card-image [src]="link.imgLink">
        </mat-card>
      </div>
    </div>
    <div class="row-container">
      <div class="card-div">
        <mat-card class="example-card">
          <img mat-card-image [src]="inventory.imgLink">
        </mat-card>
      </div>
      <div class="col-sm-4">
        <div class="featured-section pb-3 d-flex">
          <span class="ml-0 list-text">{{inventory.title}}</span>
        </div>
        <p> {{inventory.descrption}}</p>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let item of inventory.list">{{item}}<mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="row-container">
      <div class="col-sm-4">
        <div class="featured-section pb-3 d-flex">
          <span class="ml-0 list-text">{{analytics.title}}</span>
        </div>
        <p> {{analytics.descrption}}</p>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let item of analytics.list">{{item}}<mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="card-div">
        <mat-card class="example-card">
          <img mat-card-image [src]="analytics.imgLink">
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="section bg-light-white py-5">
  <div class="row-image">
    <div *ngFor="let key of cards">
      <i class="material-icons material-symbols-outlined icon">{{key.icon}}</i>
      <h3>{{key.title}}</h3>
    </div>
  </div>
</div>
<div class="section">
  <div class="section-title text-center">
    <h3 class="heading">What our users say</h3>
    <p class="sub-heading">They love it. Read what our customers had to say!</p>
  </div>
  <div class="user-row">
    <mat-card class="example-card" *ngFor="let card of testimonial">
      <div class="img-link">
        <img [src]="card.iconLink">
      </div>
      <mat-card-title>{{card.name}}</mat-card-title>
      <mat-card-subtitle>{{card.title}}</mat-card-subtitle>
      <mat-card-content>
        <p>
          {{card.descrption}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="section bg-light-white py-5">
  <div class="client-logos" style="width: 70%;">
    <div class="section-title text-center">
      <h3 class="heading">Our Partners / Integrations</h3>
    </div>
    <div class="image integration">
      <img class="img client-img" [src]="img" *ngFor="let img of partnerImg" />
    </div>
  </div>
</div>
<div class="section">
  <div class="blog-conatiner">
    <div class="section-title text-center">
      <h3 class="heading">Our recent blogs</h3>
    </div>
    <div class="blog-cards">
      <mat-card class="example-card" *ngFor="let item of blogs">
        <div class="image-blog">
          <img [src]="item.imageLink">
        </div>
        <mat-card-title class="post-title">{{item.title}}</mat-card-title>
        <mat-card-subtitle class="sub-post">{{item.subtitle}}</mat-card-subtitle>
        <p class="fixed-height"> {{item.descrption}}
        </p>
      </mat-card>
    </div>
  </div>
</div>
<div class="section bg-light-white" id="signup">
  <div class="section-title text-center">
    <h3 class="heading">Contact Us</h3>
  </div>
  <div class="sign-up-form">
    <form id="freeTrial" class="form was-validated" action="https://formspree.io/f/mgerweko" method="POST">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Full Name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Company Name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Email Address">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Phone Number">
      </mat-form-field>
      <button mat-flat-button href="#" class="btn btn-lg btn-primary contact-btn">Contact us</button>
    </form>
  </div>
  <div class="section" style="margin-top: 5rem;">
    <div class="section-title text-center get-started">
      <h3 class="heading">Get Started</h3>
      <p class="p-text-center">Signup now. Its free and takes less than 5 minutes</p>
      <button mat-flat-button href="#" class="btn btn-lg btn-primary contact-btn">Sign Up Now</button>
    </div>
  </div>
  <div class="section">
    <div class="footer">
      <div class="heading-contain">
        <h3 class="f-heading">Posify</h3>
        <p class="para">POS and technology solutions for food businesses.</p>
      </div>
      <div class="contact-container">
        <p>Call: +91 011-408-48286</p>
        <p>Email: support@posify.in</p>
      </div>
      <div class="terms-policy">
        <p>
          Refund Policy
        </p>
        <p>Terms</p>
        <p>Privacy</p>
        <p>
          About us
        </p>
      </div>
      <div class="go-btn btn-outline-primary">
        <a class="btn btn-sm  ml-1" href="#home">Go to Top</a>
      </div>
    </div>
  </div>
